<div class="nav-s" [class.nav-s-1]="isTrue">
    <div class="contens">
        <div class="nav-s-logo">
            <img src="../../assets/Img/Grupo 22.svg" alt="tipo" />
        </div>
        <div class="img2">
            <img class="img-2" src="../../assets/Img/Grupo 20.svg" alt="chulo" />
        </div>
    </div>
    <div class="contens-1">
        <div class="nav-s-contest">
            <img src="../../assets/Img/Grupo 9.svg" alt="chulo" />
            <h3 class="texts">Carolina, la firma digital de tu producto ha sido exitosa</h3>
        </div>
    </div>
    <div class="contens-2">
        <div class="nav-s-contest">
            <img src="../../assets/Img/Grupo 15350.svg" alt="imgs" />
        </div>
    </div>
</div>
<div class="content">
    <div class="condic">
        <h2 class="descript">Estas son las condiciones del producto digital que acabas de firmar</h2>
        <div class="cards">
            <div class="card-s">
                <div class="tipo" [class.tipo1]="isTrue">
                    <img class="tipos" src="../../assets/Img/Grupo 6260.svg" alt="tipo" />
                </div>
                <div class="linea" [class.linea-1]="isTrue"></div>
                <div class="contes">
                    <h5 class="tip">Tipo</h5>
                    <h4 class="tip-1">Crédito de libre Inversión</h4>
                </div>
            </div>
            <div class="card-s">
                <div class="tipo" [class.tipo1]="isTrue">
                    <img class="tipos montos" src="../../assets/Img/Grupo 34.svg" alt="monto" />
                </div>
                <div class="linea" [class.linea-1]="isTrue"></div>
                <div class="contes">
                    <h5 class="tip">Monto</h5>
                    <h4 class="tip-1">$40,000,000</h4>
                </div>
            </div>
            <div class="card-s">
                <div class="tipo" [class.tipo1]="isTrue">
                    <img class="tipos plazos" src="../../assets/Img/Grupo 36.svg" alt="plazo" />
                </div>
                <div class="linea" [class.linea-1]="isTrue"></div>
                <div class="contes">
                    <h5 class="tip">Plazo en Meses</h5>
                    <h4 class="tip-1">60</h4>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info-s">
                <div class="info-s-1">
                    <h4 class="tip-1">Tasa nmv</h4>
                    <div class="linea" [class.linea-1]="isTrue"></div>
                    <h4 class="tip-1">1,79%</h4>
                </div>
                <div class="info-s-1">
                    <h4 class="tip-1">Tipo</h4>
                    <div class="linea" [class.linea-1]="isTrue"></div>
                    <h4 class="tip-1">Fija</h4>
                </div>
                <div class="info-s-1">
                    <h4 class="tip-1">Valor Seguro de vida</h4>
                    <div class="linea" [class.linea-1]="isTrue"></div>
                    <h4 class="tip-1">$59,525</h4>
                </div>
                <div class="info-s-1">
                    <h4 class="tip-1">ID radicación</h4>
                    <div class="linea" [class.linea-1]="isTrue"></div>
                    <h4 class="tip-1">1459525</h4>
                </div>
            </div>
        </div>
        <h2 class="descript">La cuenta a la que te enviaremos el dinero es*</h2>
        <div class="cuenta">
            <div class="cuenta-s-2">
                <img src="../../assets/Img/Trazado 79.svg" alt="">
            </div>
            <div class="cuenta-s">
                <h4 class="cuenta-s-1">Bancolombia Cuenta de Ahorros</h4>
                <h3 class="cuenta-s-1"><b>N° 1111111111111111</b></h3>
            </div>
        </div>
        <h5>*Recuenda que deves ser el titular de la cuenta, de lo contrario tu desembolso presentara rechazo.</h5>
    </div>
    <div class="next">

    </div>
</div>
<button type="button" (click)="cambiarColor()">cambio</button>