:root {
    --color-fond: #f7f7f7;
    --color-letra: #4b4b4b;
    --color-subletra: #3a3a3a;
    --color-button: #fff;
    --tema-one: #0260D7;
    --tema-one-1: #00eeff;
    --tema-one-2: #00d3f8;
    --tema-two: #8300FF;
    --tema-two-2: #be00cf;
    --tema-two-1: #D70259;
}

body {
    background-color: var(--color-fond);
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Rubik', sans-serif;
}

.nav-s {
    width: 100%;
    background: -webkit-linear-gradient(left, var(--tema-one), var(--tema-one-1));
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .contens {
        .img2 {
            width: 350px;

            .img-2 {
                width: 70%;
                left: 200px;
                top: -15px;
                position: relative;
            }
        }

        .nav-s-logo {
            display: flex;
            flex-direction: row;
            padding: 15px 155px;

            .img-1 {
                width: 50px;
            }

            .title {
                color: white;
                width: 50px;
                margin: 10px;
            }
        }
    }

    .contens-1 {
        text-align: center;
        margin: 25px 0;

        .nav-s-contest {
            width: 100%;

            .feliz {
                color: #fff;
                font-size: 50px;
                text-align: center;
                margin: 0;
            }

            .img-3 {
                width: 100px;
                position: relative;
                top: -25px;
                margin: 0;
            }

            .texts {
                color: #fff;
                font-size: 20px;
                margin: 0 auto;
                width: 270px;
                text-align: center;
            }
        }
    }

    .contens-2 {
        .nav-s-contest {
            svg {
                .Trazado_33 {
                    fill: var(--tema-one-1);
                }

                .Trazado_3 {
                    fill: var(--tema-two-2);
                }

                .Trazado_32 {
                    fill: var(--tema-one-2);
                }

                .Trazado_2 {
                    fill: var(--tema-two);
                }
            }
        }
    }

    @media screen and (max-width: 375px) {
        height: 245px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    color: var(--color-letra);

    .condic {
        width: 50%;
        margin: 10px 55px;
        font-size: 15px;

        .cards {
            display: flex;
            flex-direction: row;

            .card-s {
                background: white;
                border-radius: 15px;
                border: 1px solid rgba(0, 0, 0, 0.144);
                padding: 10px;
                width: 130px;
                margin: 8px;
                text-align: center;
                box-shadow: 7px 7px 15px #00000042;

                .tipo {
                    border: 1px solid -webkit-linear-gradient(left, var(--tema-one), var(--tema-one-1));
                    background: -webkit-linear-gradient(left, var(--tema-one), var(--tema-one-1));
                    border-radius: 60px;
                    padding: 15px;
                    width: 50px;
                    margin: 5px auto;

                    .tipos {
                        width: 45px;
                    }

                    .montos {
                        width: 25px !important;
                    }

                    .plazos {
                        width: 40px !important;
                    }
                }

                .tipo1 {
                    border: 1px solid -webkit-linear-gradient(left, var(--tema-two), var(--tema-two-1));
                    background: -webkit-linear-gradient(left, var(--tema-two), var(--tema-two-1));
                    border-radius: 60px;
                    padding: 15px;
                    width: 50px;
                    margin: 5px auto;

                    .tipos {
                        width: 45px;
                    }
                }

                .linea {
                    border: 1px solid var(--tema-one-1);
                    width: 40%;
                    margin: auto;
                }

                .linea-1 {
                    border: 1px solid var(--tema-two);
                    width: 40%;
                    margin: auto;
                }
            }
        }

        .info {
            .info-s {
                display: flex;
                flex-direction: row;
                width: 100%;

                .info-s-1 {
                    margin: 15px 25px;
                    text-align: center;

                    .tip-1 {
                        margin: 7px 0px;
                    }

                    .linea {
                        border: 1px solid var(--tema-one-1);
                        width: 100%;
                        margin: auto;
                    }

                    .linea-1 {
                        border: 1px solid var(--tema-two);
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }

        .cuenta {
            display: flex;
            flex-direction: row;

            .cuenta-s-2 {
                position: relative;
                top: 20px;

                svg {
                    .Trazado_79 {
                        fill: #00E0FF;
                    }

                    .Trazado_7 {
                        fill: var(--tema-two);
                    }
                }
            }

            .cuenta-s {
                margin: 10px;

                .cuenta-s-1 {
                    margin: 5px 0;
                }
            }
        }
    }

    .condic-1 {
        width: 50%;
        margin: 10px 55px;
        font-size: 15px;

        .cards {
            display: flex;
            flex-direction: row;

            .card-s {
                background: white;
                border-radius: 15px;
                border: 1px solid rgba(0, 0, 0, 0.144);
                padding: 10px;
                width: 130px;
                margin: 8px;
                text-align: center;
                box-shadow: 7px 7px 15px #00000042;

                .tipo {
                    border: 1px solid -webkit-linear-gradient(left, var(--tema-one), var(--tema-one-1));
                    background: -webkit-linear-gradient(left, var(--tema-one), var(--tema-one-1));
                    border-radius: 60px;
                    padding: 15px;
                    width: 50px;
                    margin: 5px auto;

                    .tipos {
                        width: 50px;
                    }

                    .montos {
                        width: 25px !important;
                    }

                    .plazos {
                        width: 40px !important;
                    }
                }

                .tipo1 {
                    border: 1px solid -webkit-linear-gradient(left, var(--tema-two), var(--tema-two-1));
                    background: -webkit-linear-gradient(left, var(--tema-two), var(--tema-two-1));
                    border-radius: 60px;
                    padding: 15px;
                    width: 50px;
                    margin: 5px auto;

                    .tipos {
                        width: 45px;
                    }
                }

                .linea {
                    border: 1px solid var(--tema-one-1);
                    width: 40%;
                    margin: auto;
                }

                .linea-1 {
                    border: 1px solid var(--tema-two);
                    width: 40%;
                    margin: auto;
                }
            }
        }

        .info {
            .info-s {
                display: flex;
                flex-direction: row;
                margin: auto;

                .info-s-1 {
                    margin: 15px 25px;
                    text-align: center;
                    display: flex;
                    flex-direction: row;

                    img {
                        margin: 0px 15px;
                        width: 50px;
                    }

                    .tip-1 {

                        margin: 7px 0px;
                    }

                    .linea {
                        border: 1px solid var(--tema-one-1);
                        width: 100%;
                        margin: auto;
                    }

                    .linea-1 {
                        border: 1px solid var(--tema-two);
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }

        .compra {
            .info-s {
                display: flex;
                flex-direction: row;
                width: 81%;
                margin: auto;

                .info-s-1 {
                    margin: 15px 25px;
                    text-align: center;

                    .tip-1 {
                        margin: 7px 0px;
                    }

                    .linea {
                        border: 1px solid var(--tema-one-1);
                        width: 100%;
                        margin: auto;
                    }

                    .linea-1 {
                        border: 1px solid var(--tema-two);
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }

        .cuenta {
            display: flex;
            flex-direction: row;

            .cuenta-s-2 {
                position: relative;
                top: 20px;

                svg {
                    .Trazado_79 {
                        fill: #00E0FF;
                    }

                    .Trazado_7 {
                        fill: var(--tema-two);
                    }
                }
            }

            .cuenta-s {
                margin: 10px;

                .cuenta-s-1 {
                    margin: 10px 0;
                }
            }
        }
    }

    .condic-1-1 {
        display: none;
    }

    .condic-1-2 {
        display: none;
    }

    .next {
        width: 50%;
        margin: 10px 55px;

        .qva {
            .qva-s {
                display: flex;
                flex-direction: row;
                margin: 20px 0;

                .qva-s-t {
                    margin: 10px 15px;
                }

                img {
                    width: 50px;

                }
            }

            .qva-s-s {
                display: flex;
                flex-direction: row;

                img {
                    width: 100px;
                }

                .qva-s-q {
                    margin: 10px 15px;
                    position: relative;
                    top: 5px;
                }

                .qva-s-w {
                    margin: 10px 15px;
                    position: relative;
                    top: 24px;
                }

                .qva-s-e {
                    margin: 10px 15px;
                    position: relative;
                    top: 35px;
                }
            }
        }

        .descripts {
            margin: 50px 0;
        }

        .dca {
            display: flex;
            flex-direction: row;

            .dca-a {
                .dca-a-2 {
                    position: relative;
                    top: -8px;
                    margin: 0 10px;
                }
            }

            .dca-b {
                .dca-b-t {
                    margin: 5px;
                }
            }
        }

        .buttos {
            text-align: center;
            margin: 25px;

            .final {
                background: #e42914;
                color: #f7f7f7;
                border: 2px solid #e42914;
                width: 70%;
                height: 38px;
                border-radius: 15px;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                img {
                    margin: 0;
                    position: relative;
                    left: 25%;
                    top: 6px;
                    padding: 0;
                }
            }

            .final:hover {
                background: #fd240c;
                color: #f7f7f7;
                border: 2px solid #ff240b;
                width: 70%;
                height: 38px;
                border-radius: 15px;
                text-align: center;
                line-height: 30px;
                font-size: 15px;

                img {
                    margin: 0;
                    position: relative;
                    left: 25%;
                    top: 6px;
                    padding: 0;
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        display: block;
    }
}

.nav-s-1 {
    width: 100%;
    background: -webkit-linear-gradient(left, var(--tema-two), var(--tema-two-1));
    height: 250px;

    @media screen and (max-width: 375px) {
        height: 245px;
    }
}

@media (min-width: 0px) and (max-width: 750px) {
    .nav-s {
        display: block !important;

        .contens {
            .img2 {
                display: none;
            }

            .nav-s-logo {
                padding: 5px 5px !important;

                img {
                    width: 100px !important;
                }
            }
        }

        .contens-1 {
            .nav-s-contest {
                img {
                    width: 250px;
                }
            }
        }
    }

    .content {
        display: block;

        .condic {
            width: 95%;
            margin: 10px;

            .cards {
                display: block !important;

                .card-s {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    height: 60px;

                    .tipo {
                        margin: 0;
                        padding: 10px;
                        width: 40px;

                        .tipos {
                            width: 30px;
                        }

                        .montos {
                            width: 20px !important;
                        }

                        .plazos {
                            width: 30px !important;
                        }
                    }

                    .linea {
                        display: none;
                    }

                    .contes {
                        text-align: initial;
                        margin: 0 10px;

                        .tip {
                            margin: 0;
                        }

                        .tip-1 {
                            margin: 10px 0;
                        }
                    }
                }
            }

            .info {
                .info-s {
                    width: 95%;
                    position: relative;
                }
            }
        }

        .condic-1 {
            width: 95%;
            margin: 10px;

            .cards {
                display: block !important;

                .card-s {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    height: 60px;

                    .tipo {
                        margin: 0;
                        padding: 10px;
                        width: 40px;

                        .tipos {
                            width: 40px;
                        }

                        .montos {
                            width: 20px !important;
                        }

                        .plazos {
                            width: 40px !important;
                        }
                    }

                    .linea {
                        display: none;
                    }

                    .contes {
                        text-align: initial;
                        margin: 0 10px;

                        .tip {
                            margin: 0;
                        }

                        .tip-1 {
                            margin: 10px 0;
                        }
                    }
                }
            }

            .info {
                .info-s {
                    width: 97%;
                    margin: auto;
                    position: relative;

                    .info-s-1 {
                        margin: 0;
                    }
                }
            }

            .compra {
                .info-s {
                    width: 95%;
                    margin: auto;

                    .info-s-1 {
                        margin: 6px;
                    }
                }
            }
        }

        .next {
            width: 95%;
            margin: 10px;

            .qva {
                .qva-s {
                    margin: 15px 0;

                    img {
                        width: 50px;
                    }

                    .qva-s-t {
                        font-size: 15px;
                    }
                }

                .qva-s-s {
                    img {
                        width: 140px;
                    }

                    .qva-s-1 {
                        .qva-s-q {
                            font-size: 15px;
                        }

                        .qva-s-w {
                            font-size: 15px;
                        }

                        .qva-s-e {
                            font-size: 15px;
                        }
                    }
                }
            }

            .buttos {
                margin: 25px 0px;

                .final {
                    width: 80%;

                    img {
                        left: 45%;
                    }
                }
            }
        }
    }
}